@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hey there!</h1>
    <p>This Application contains a Collection of <em><strong>not so funny</strong></em> Jokes! :)</p>
</div>
